body{
    background-color: pink;
}
.container{
    height: 400px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-content: baseline;
    
}
.child1,.child2,.child3,.child4{
    height: 300px;
    border: 1px solid green;
    width: 250px;
 
    
}
.child1{
background-color: yellow;
flex-basis: 50%;
}
.child2{
    background-color: blue;
}
.child3{
    background-color: blueviolet;
}
.child4{
    background-color: aqua;
}